/*
main
*/
.panel {
    min-width: 350px;
}
#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;
}
#footer:hover{
    opacity: 0.5;
}
body {
    margin-bottom: 100px;
    margin-top: 100px;
}

tr.highlight:hover{
    background-color: #000000;
    color:#ffffff;
}


/*
Vari utils
*/
div.floatleft{
    float:left;
}
div.floatright{
    float:right;
}

div.marginleft10p{
    margin-left: 10px;
}

div.marginright10p{
    margin-right: 10px;
}

.caption-full{
    width: 60%;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.thumb-list{
    height: 290px;
    position: relative;
}
.thumb-list:hover {
    background-color: #f5f5f5;
}

.buttons {
    position: absolute;
    bottom: 0;
}
.clickable {
    cursor: pointer;
}

.bigger-text {
    font-size: 30px;
}